.font-thin {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
}

.font-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.font-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}

* {
  position: relative;
}

.breaker {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #2f2f2f;
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
}

.justify-text {
  text-align: justify;
}

.navbar {
  background-color: #e4e6e5;
  background-color: rgba( 228, 230, 229, .85);
  border-bottom: 0 none;
  font-size: 12px;
  transition: .25s all linear;
}

.navbar.inv {
  background-color: rgba( 0, 0, 0, .5);
  border-bottom: 1px solid #bfbfbf;
}

.navbar .nav a {
  color: #5f5f5f;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  transition: all .5 linear;
}

.navbar.inv a {
  color: #e4e6e5;
}

.navbar-responsive-collapse {
  margin: 0 auto;
  width: 80%;
}

.nav li {
  text-align: center;
  white-space: nowrap;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: inherit;
  outline: none;
}

.navbar-brand {
  padding: 8px;
}

.slide {
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 65px;
  padding-top: 50px;
  text-align: center;
  color: #e4e6e5;
}

#experienceMain {
  background-image: url('../images/bg1.jpg');
  color: #ffffff;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-attachment: relative;
  background-position: center center;
}

#experienceMain h1 {
  padding-top: 130px;
}

#home-row-1,
#home-row-2 {
  padding-top: 25px;
}

#home-row-1 h1 {
  font-size: 54px;
}

#home-row-1 h4 {
  font-size: 32px;
}

#home-row-2 {
  font-size: 25px;
}

#home-row-2 .col-12 {
  height: 232px;
  padding-top: 30px;
}

#home-row-2 .col-12 .home-hover {
  height: 166px;
  overflow: hidden;
  padding-top: 26px;
  transition: all ease-in .5s;
}

#home-row-2 .col-12 .home-hover:hover {
  height: 166px;
  padding-top: 0;
}

@media (max-width: 767px) {
  #home-row-1,
  #home-row-2 {
    padding-top: 16px;
  }
  #home-row-1 h1 {
    font-size: 35px;
  }
  #home-row-1 h4 {
    font-size: 21px;
  }
  #home-row-2 {
    font-size: 16px;
  }
}

#experienceOple {
  background-color: #9d9efe;
}

.title-row {
  font-size: 45px;
  padding-bottom: 50px;
}

.line-row .hr {
  background-color: #e4e6e5;
  height: 5px;
  margin: 0 auto;
  width: 33%;
}

.subtitle-row {
  font-size: 35px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.content-row {
  padding-top: 45px;
}

.content-row i,
#about-row-5 i {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.content-row h2 {
  font-size: 28px;
  padding-bottom: 40px;
}

.content-row h4 {
  font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

i {
  font-size: 80px;
  color: white;
}

@media (max-width: 767px) {
  .title-row {
    font-size: 34px;
    padding-bottom: 33px;
  }
  .subtitle-row {
    font-size: 26px;
    padding-bottom: 26px;
    padding-top: 26px;
  }
  .content-row {
    padding-top: 29px;
  }
  .content-row h2 {
    font-size: 24px;
    padding-bottom: 26px;
  }
  .content-row h4 {
    font-size: 20px;
  }
}